.App {
  max-width: 600px;
  margin: 50px auto;
}

.App body {
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
}

.App h1 {
  color: #535151;
  font-size: 35px;
  font-weight: 100;
  line-height: 38px;
  margin-bottom: 0;
}

.App ul {
  margin: 0;
  padding: 0;
}

.App li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.App li:first-letter {
  text-transform: capitalize;
}

.App a:link {
  text-decoration: none;
}
